# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build Artifacts
node_modules
dist
dist-ssr
.env 👈 GANTI DARI .env.local MENJADI .env
.vercel
out

# Supabase Backend Configuration (FIX VERSEL DEPLOYMENT ISSUE)
supabase/migrations/sql
supabase/sql
supabase/db
supabase/temp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
